header {
  animation: header-animation 1s forwards;
  width: 100%;
  height: 200px;
  background: #FF9797;
  .logo {
    width: 100%;
    height: 100%;
    margin: auto;
    background: url('/style/images/name_white.gif') center center / contain no-repeat;
  }
}

nav {
  animation: nav-animation 1.3s forwards;
  ul {
    list-style: none;
    padding: 0;
    margin: 0
    height: 200px
    li {
      height: 100%;
      display: inline-block;
      width: 33.3%;
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
      a {
        display: block;
        line-height: 5;
        width: 100%;
        height: 100%;
        background: #99E0FF;
        text-decoration: none;
        color: white;
        font-size: 2em;
        transition: background .5s;
        &:hover {
          background: #62D0FF;
        }
        &.active {
          background: #FF9797;
        }
      }
    }
  }
}

@keyframes header-animation {
  0% {
    opacity: 0;
    transform: scale(1.1)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes nav-animation {
  0% {
    opacity: 0;
    transform: scale(1.1)
  }
  33% {
    opacity: 0;
    transform: scale(1.1)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}
